# 1.1 Importando bibliotecas

In [2]:
import pandas as pd

# 1.2 Lendo a planilha

In [5]:
df = pd.read_csv("../../data/raw/DH_2022_Br_Regioes_20240423.xlsx - Total.csv")

# 1.3 Visualizar primeiras linhas

In [6]:
print(df)

   N        Região  Rústicos Improvisados Habitação Precária  Cômodos  \
0  1         Norte   116.993      214.269            331.262   16.922
1  2      Nordeste   272.979      430.277            703.256   17.606
2  3       Sudeste    51.918      284.993            336.911   56.634
3  4           Sul   125.881       67.483            193.364    5.734
4  5  Centro-Oeste    37.770       80.090            117.860   14.653
5  6        Brasil   605.542    1.077.112          1.682.654  111.548

  Unidade Convivente Déficit Coabitação       Ônus  \
0                    240.480    257.402    184.665
1                    348.848    366.454    691.322
2                    427.698    484.332  1.622.398
3                     92.048     97.782    446.481
4                     69.257     83.909    297.915
5                  1.178.331  1.289.879  3.242.780

  Déficit Habitacional (Habitação Precária + Coabitação + Ônus)
0                                            773.329
1                                          1.761.032
2                                          2.443.642
3                                            737.626
4                                            499.685
5                                          6.215.313

# 1.4.1 Remover linha de total

In [45]:
df = df[df["Região"] != "Brasil"]

# 1.4.2 Renomear colunas

In [46]:
novos_nomes = [
    "regiao", "rusticos", "improvisados", "habitacao_precaria", "comodos",
    "unidade_convivente_deficit", "coabitacao", "onus", "deficit_habitacional"
]

df = df.iloc[:, :len(novos_nomes)]  # Limita colunas
df.columns = novos_nomes

In [47]:
df.head()

,regiao,rusticos,improvisados,habitacao_precaria,comodos,unidade_convivente_deficit,coabitacao,onus,deficit_habitacional
0,1,Norte,116.993,214.269,331.262,16.922,240.480,257.402,184.665
1,2,Nordeste,272.979,430.277,703.256,17.606,348.848,366.454,691.322
2,3,Sudeste,51.918,284.993,336.911,56.634,427.698,484.332,1.622.398
3,4,Sul,125.881,67.483,193.364,5.734,92.048,97.782,446.481
4,5,Centro-Oeste,37.770,80.090,117.860,14.653,69.257,83.909,297.915

# 1.4.3 Remover ponto dos números e converter para inteiros

In [50]:
# Lista de colunas que NÃO serão convertidas
colunas_excluir = ["regiao", "rusticos"]

# Seleciona as colunas a converter
colunas_converter = [col for col in df.columns if col not in colunas_excluir]

# Loop para conversão
for col in colunas_converter:
    df[col] = (
        df[col]
        .astype(str)
        .str.replace(".", "", regex=False)  # remove separador de milhar
        .str.replace(",", ".", regex=False)  # troca vírgula por ponto
    )
    df[col] = pd.to_numeric(df[col], errors="coerce")

# Conferir resultado
print(df.dtypes)
print(df.head())

regiao                         int64
rusticos                      object
improvisados                   int64
habitacao_precaria             int64
comodos                        int64
unidade_convivente_deficit     int64
coabitacao                     int64
onus                           int64
deficit_habitacional           int64
dtype: object
   regiao      rusticos  improvisados  habitacao_precaria  comodos  \
0       1         Norte        116993              214269   331262
1       2      Nordeste        272979              430277   703256
2       3       Sudeste         51918              284993   336911
3       4           Sul        125881               67483   193364
4       5  Centro-Oeste          3777               80090   117860

   unidade_convivente_deficit  coabitacao    onus  deficit_habitacional
0                       16922      240480  257402                184665
1                       17606      348848  366454                691322
2                       56634      427698  484332               1622398
3                        5734       92048   97782                446481
4                       14653       69257   83909                297915